html
    head
        meta(charset="UTF-8")
        title Hello World
        link(rel="stylesheet", href="assets/css/style.css")
    body
        h1 Hello world
        h2 welcome

        include ../components/header/header.pug